</div>
</body>
<footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="fab fa-twitter footer-img"></i>
      <i class="fab fa-facebook-f footer-img"></i>
      <i class="fab fa-instagram footer-img"></i>
      <i class="fas fa-envelope footer-img"></i>
      <p>© Copyright 2019 Parciales Inc.</p>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>
</footer>

</html>
